@import url("colors.css");
:root {
  color-scheme: light dark;
  --color-accent: LightSeaGreen;
  accent-color: var(--color-accent);
  --border-color: oklch(80% 3% 200)
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: oklch(50% 10% 200 / 40%); /* brighter boarder in dark mode */
  }
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  /* set max width to 100ch */
  max-width: 100ch;
  margin-inline: auto;
  padding: 7ch;
}

h1{
  font-size: 400%;
}

nav{
  display: flex;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-evenly;
  width: 100%;
}

nav a{
  flex: 1;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  text-align: center;
  padding-bottom: 0.7em;
  border-bottom: 0.4em solid transparent;
}

nav a.current{
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: calc(0.7em - 0.4em);
}

nav a:hover{
    border-bottom: 0.4em solid var(--color-accent);
    background: oklch(from var(--color-accent) canvas 70%);
    padding-bottom: calc(0.7em - 0.4em);
}

.color-scheme{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    display: flex;
    gap: 0.5rem;
}

.color-scheme select {
  gap: 0.5rem;
}

form{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  width: 100%;
  box-sizing: border-box;
  margin-block: 1em;
}

form div {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
}

form div label {
  display: subgrid;
  grid-column: 1;
  gap: 1em;
  margin-block: 1px;
}

form div input, div textarea {
  display: subgrid;
  grid-column: 2;
  gap: 1em;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  margin-block: 1px 1px;
}

form div button {
  display: subgrid;
  grid-column: 1/-1;
  gap: 1em;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  margin-block: 1px 1px;
}

form button:hover {
  background-color: var(--color-accent);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
  padding: 1em;
  h2 {
    margin: 0;
  }
}