#tooltip {
    z-index: 2;
    position: absolute; 
    pointer-events: none; 
    background: white; 
    color: black; 
    fill-opacity: 50%;  
    padding: 5px 10px; 
    border-radius: 4px; 
    font-size: 0.85em; 
    display: none;
}

/* Meta Stats Display */
#stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 1em; /* Optional: adds spacing between grid items */
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
  }
  .stats dl {
    display: subgrid;
    grid-template-columns: max-content 1fr;
    column-gap: 1em;
    padding: 1em;
    margin: 0;
  }
  .stats dt {
    margin: 0em;
    text-align: left;
    font-weight: bold;
    padding-left: 1em;
  }
  .stats dd {
    text-align: left;
    margin: 0em;
    padding-left: 1em;
  }
  
  /* git push chart */
  .gridlines {
    opacity: 0.3;
  }
  
  circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
    @starting-style {
        r: 0;
    }
  }
  circle:hover {
    transform: scale(1.5);
  }
  
  @keyframes marching-ants {
    to {
      stroke-dashoffset: -8; /* 5 + 3 */
    }
  }
  
  .selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
  }
  circle.selected {
    fill: #ff6b6b;
  }
  
  /* tooltip */
  #commit-tooltip {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    padding: 1em;
  }
  
  #commit-tooltip dt {
    display: subgrid;
    grid-row: 1;
    margin: 0;
    text-align: left;
    font-weight: bold;
  }
  #commit-tooltip dd {
    display: subgrid;
    grid-row: 2;
    margin: 0;
    text-align: left;
  }
  
  #language-breakdown {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    padding: 1em;
    dt {
      display: subgrid;
      grid-row: 1;
      margin: 0;
      text-align: left;
      font-weight: bold;
    }
    dd {
      display: subgrid;
      grid-row: 2;
      margin: 0;
      text-align: left;
    }
  }

  /* files breakdown */

#files {
    display: grid;
    grid-template-columns: 1fr 4fr;

    > div {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
    }

    dt {
        grid-column: 1;
    }

    dd {
        grid-column: 2;
    }
}

.loc {
    display: flex;
    width: 0.5em;
    aspect-ratio: 1;
    background: var(--color);
    border-radius: 50%;
}

dd {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
    gap: 0.15em;
    padding-top: 0.6em;
    margin-left: 0;
}

/* scatter story */
#scrolly-1 {
    position: relative;
    display: flex;
    gap: 1rem;
  
    > * {
        flex: 1;
    }
}
  
#scatter-story {
    position: relative;
}
  
#scatter-plot {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    height: 50vh;
}